In [96]:
#import necessary packages 
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import glob
import numpy as np
import math

For the second part of the analysis the dependent variable is built based on the results from equation 2 from the Sim et al model (2022) which i use in the first part of the analysis. 
Theobjective is to create a data frame from scratch where for each country there is the average for loneliness,complaiance, stress and books read.
Stress, complaince and loneliness came from the COVIDiSTRESS survey, I only cleaned and scaled (the original dataset already display variables values at country level and the participants answer the survey with a peridiocity of 1 week).
So the key point is the dependent variable

model2 <- lm(log(total_books) ~ factor(country_code) + treated +  after + after_treated*factor(country_code) + 
factor(country_code) * factor(treated) +
factor(week_of_year) * factor(country_code), data = data)

The dependent variable will be the value of after_treated*factor(country_code) for our reference country (Argentina); all the other countries i add the estimate of the main effect (after_treated*factor(country_code) for argentina) PLUS the respective country effect that arises from after_treated*factor(country_code)

In [97]:
country_list = ['ARG', 'AUS', 'AUT', 'BEL', 'BGR', 'BRA', 'CAN', 'CHE', 'CHL',
       'CHN', 'COL', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA', 'GBR',
       'GRC', 'HKG', 'HUN', 'IDN', 'IND', 'IRL', 'ISR', 'ITA', 'JPN',
       'LVA', 'MEX', 'NLD', 'NOR', 'PER', 'PHL', 'POL', 'PRT', 'ROU',
       'RUS', 'SGP', 'SVK', 'SWE', 'TUR', 'URY', 'USA']

books_read = []

In [98]:
#this are the outputs from R which will be the values for the dependent variable after applying the requiered transformations: exp() and -1
values = [5.350e-01, -1.493e-01,-3.084e-01,-3.807e-01,-2.835e-01,-3.032e-01, -3.745e-01,-1.283e-01,3.727e-04,-1.534e-01,-8.698e-01,
          -3.758e-01,-2.075e-01,1.580e-02,-4.159e-02,-4.962e-01 ,-5.554e-01,-2.854e-01,-4.672e-01,3.330e-02,-1.123e-01,
          -7.911e-01, 1.849e-01,-1.955e-01,-7.046e-01,-3.753e-01,-2.325e-01,-1.935e-01,-2.937e-01,-4.443e-01,-8.158e-01,
          -4.219e-01,9.469e-02,-1.121e+00,-1.189e-01,-3.458e-01,3.198e-01,-4.008e-01, -5.527e-01,-4.006e-01,-5.493e-01,-2.630e+00,-3.677e-01]

In [99]:
#check if there is a match in quantity of values and countries
len(values) == len(country_list)

True

In [100]:
#objective is to do this for all values: np.exp(5.350e-01)-1
transformed_values =[]
for i in values:
    transformation=np.exp(i)-1
    transformed_values.append(transformation)

#make sure there is a match 
len(transformed_values)  == len(values) == len(country_list)

True

In [101]:
#create the data frame, do not request indexes in order to facilitate the next step where we marge dataframes
df2= pd.DataFrame({"country_code": country_list,
                  "y": transformed_values})

In [102]:
df2.head(20)

   country_code         y
0           ARG  0.707448
1           AUS -0.138689
2           AUT -0.265379
3           BEL -0.316617
4           BGR -0.246857
5           BRA -0.261549
6           CAN -0.312367
7           CHE -0.120411
8           CHL  0.000373
9           CHN -0.142213
10          COL -0.580965
11          DEU -0.313260
12          DNK -0.187387
13          ESP  0.015925
14          EST -0.040737
15          FIN -0.391160
16          FRA -0.426157
17          GBR -0.248286
18          GRC -0.373245
19          HKG  0.033861

the values of all countries are in relation to argentina. So i need to update variable y:
- y values regarding ARG i left them alone
- all the other y values i need to add the y ARG values (main effect) to the already existing value.

In [103]:
df2["y_final"]=df2[["country_code","y"]].apply(lambda row: row[1] +0.707448 if row[0] != "ARG" else row[1], axis=1)
df2.head()

  country_code         y   y_final
0          ARG  0.707448  0.707448
1          AUS -0.138689  0.568759
2          AUT -0.265379  0.442069
3          BEL -0.316617  0.390831
4          BGR -0.246857  0.460591

In [104]:
#now i need to upload the dataset with loneliness, stress and compliance
path1= "C:/Users/joana/Desktop/Master/second master/thesis/second thesis/data/to use/stress_lon_comp.csv"
df_emotions=pd.read_csv(path1)

In [105]:
df_emotions.head()

,country_code,total_week,treated,week_of_year,after,after_treated,Dem_dependents,Dem_age,s1,s2,...,deaths,cases,s4r,s5r,s7r,s8r,stress,lon,c4r,com
0,DNK,65,1,13,1,1,0.925769,45.824565,2.380772,2.681796,...,320,13284,2.014069,2.689010,2.183805,2.309806,2.402677,2.282536,4.105247,3.877538
1,ARG,66,1,14,1,1,0.939154,37.628210,2.854917,2.662309,...,240,8228,2.331454,2.614047,2.260410,2.920749,2.741865,2.538123,4.202487,4.180713
2,AUS,66,1,14,1,1,0.640000,39.352000,2.784000,2.952000,...,172,35465,2.344000,3.168000,2.616000,2.760000,2.780800,2.797333,4.173974,3.819082
3,AUT,66,1,14,1,1,0.862500,36.956250,2.590816,3.037500,...,1098,76994,2.164161,2.966420,2.281250,2.568750,2.634520,2.676244,4.147768,4.056944
4,BEL,66,1,14,1,1,0.498575,32.982906,2.356300,2.787420,...,6930,108878,2.312813,2.822300,2.519065,2.722773,2.625809,2.596733,4.331724,3.989084

In [106]:
df_emotions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country_code                263 non-null    object
 1   total_week                  263 non-null    int64
 2   treated                     263 non-null    int64
 3   week_of_year                263 non-null    int64
 4   after                       263 non-null    int64
 5   after_treated               263 non-null    int64
 6   Dem_dependents              263 non-null    float64
 7   Dem_age                     263 non-null    float64
 8   s1                          263 non-null    float64
 9   s2                          263 non-null    float64
 10  s3                          263 non-null    float64
 11  s4                          263 non-null    float64
 12  s5                          263 non-null    float64
 13  s6                          263 non-null    float64
 14  s7                          263 non-null    float64
 15  s8                          263 non-null    float64
 16  s9                          263 non-null    float64
 17  s10                         263 non-null    float64
 18  l1                          263 non-null    float64
 19  l2                          263 non-null    float64
 20  l3                          263 non-null    float64
 21  c1                          263 non-null    float64
 22  c2                          263 non-null    float64
 23  c3                          263 non-null    float64
 24  c4                          263 non-null    float64
 25  c5                          263 non-null    float64
 26  c6                          263 non-null    float64
 27  total_books                 263 non-null    int64
 28  school_closing              263 non-null    float64
 29  workplace_closing           263 non-null    float64
 30  cancel_public_events        263 non-null    float64
 31  restrictions_on_gatherings  263 non-null    float64
 32  close_public_transport      263 non-null    float64
 33  stay_at_home_requirements   263 non-null    float64
 34  nacionaltravel              263 non-null    float64
 35  internationaltravel         263 non-null    float64
 36  deaths                      263 non-null    int64
 37  cases                       263 non-null    int64
 38  s4r                         263 non-null    float64
 39  s5r                         263 non-null    float64
 40  s7r                         263 non-null    float64
 41  s8r                         263 non-null    float64
 42  stress                      263 non-null    float64
 43  lon                         263 non-null    float64
 44  c4r                         263 non-null    float64
 45  com                         263 non-null    float64
dtypes: float64(37), int64(8), object(1)
memory usage: 94.6+ KB

In [107]:
#from the df_emotions i only want to keep country_code,total_week, stress, lon, com
df_emo=df_emotions.iloc[:,[0,1,42,43,45]]
df_emo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  263 non-null    object
 1   total_week    263 non-null    int64
 2   stress        263 non-null    float64
 3   lon           263 non-null    float64
 4   com           263 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 10.4+ KB

In [108]:
#now i want to remove total_week and collapse stress, lon, com levels per country
grouped_emotions=(df_emo[["country_code","stress","lon","com"]].groupby(["country_code"]).aggregate({"stress":np.average, "lon":np.average, "com": np.average})).reset_index()
#grouped_emotions.head()

In [109]:
grouped_emotions.head()

  country_code    stress       lon       com
0          ARG  2.807575  2.692887  4.148194
1          AUS  2.559427  2.698211  3.968259
2          AUT  2.798421  2.790133  4.255362
3          BEL  2.599818  2.471123  3.988431
4          BGR  2.853650  2.539404  3.822144

In [110]:
grouped_emotions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  35 non-null     object
 1   stress        35 non-null     float64
 2   lon           35 non-null     float64
 3   com           35 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB

In [111]:
grouped_emotions_country=list(grouped_emotions["country_code"])
grouped_emotions_country

['ARG',
 'AUS',
 'AUT',
 'BEL',
 'BGR',
 'BRA',
 'CHE',
 'CHL',
 'CHN',
 'COL',
 'DEU',
 'DNK',
 'ESP',
 'FIN',
 'FRA',
 'GRC',
 'HUN',
 'IDN',
 'IRL',
 'ISR',
 'ITA',
 'JPN',
 'LVA',
 'MEX',
 'NLD',
 'NOR',
 'PHL',
 'POL',
 'PRT',
 'ROU',
 'SGP',
 'SWE',
 'TUR',
 'URY',
 'USA']

In [112]:
#in the process of cleaning the COVIDiSTRESS survey some countries did not hadenough information. Need to know 
#who they are and remove fromour analysis 
country_remove=[]

for i in country_list:
    if i not in grouped_emotions_country:
        country_remove.append(i)
        
country_remove

['CAN', 'EST', 'GBR', 'HKG', 'IND', 'PER', 'RUS', 'SVK']

In [113]:
df2= df2[~df2["country_code"].str.contains("CAN|EST|GBR|HKG|IND|PER|RUS|SVK",na=True)]
df2

   country_code         y   y_final
0           ARG  0.707448  0.707448
1           AUS -0.138689  0.568759
2           AUT -0.265379  0.442069
3           BEL -0.316617  0.390831
4           BGR -0.246857  0.460591
5           BRA -0.261549  0.445899
7           CHE -0.120411  0.587037
8           CHL  0.000373  0.707821
9           CHN -0.142213  0.565235
10          COL -0.580965  0.126483
11          DEU -0.313260  0.394188
12          DNK -0.187387  0.520061
13          ESP  0.015925  0.723373
15          FIN -0.391160  0.316288
16          FRA -0.426157  0.281291
18          GRC -0.373245  0.334203
20          HUN -0.106224  0.601224
21          IDN -0.546654  0.160794
23          IRL -0.177577  0.529871
24          ISR -0.505694  0.201754
25          ITA -0.312917  0.394531
26          JPN -0.207450  0.499998
27          LVA -0.175930  0.531518
28          MEX -0.254500  0.452948
29          NLD -0.358727  0.348721
30          NOR -0.557715  0.149733
32          PHL  0.099318  0.806766
33          POL -0.674046  0.033402
34          PRT -0.112103  0.595345
35          ROU -0.292346  0.415102
37          SGP -0.330216  0.377232
39          SWE -0.330082  0.377366
40          TUR -0.422646  0.284802
41          URY -0.927922 -0.220474
42          USA -0.307675  0.399773

In [114]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 42
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  35 non-null     object
 1   y             35 non-null     float64
 2   y_final       35 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.1+ KB

In [115]:
grouped_emotions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  35 non-null     object
 1   stress        35 non-null     float64
 2   lon           35 non-null     float64
 3   com           35 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB

Join df2 and grouped_emotions together based on country_code.
Both dataframes have the desiered variables and both have 35 entries, so everything looks okay to exist a perfect match so we should a "inner" merge

In [116]:
df2_final=pd.merge(df2,grouped_emotions,how="inner",on="country_code")
df2_final

   country_code         y   y_final    stress       lon       com
0           ARG  0.707448  0.707448  2.807575  2.692887  4.148194
1           AUS -0.138689  0.568759  2.559427  2.698211  3.968259
2           AUT -0.265379  0.442069  2.798421  2.790133  4.255362
3           BEL -0.316617  0.390831  2.599818  2.471123  3.988431
4           BGR -0.246857  0.460591  2.853650  2.539404  3.822144
5           BRA -0.261549  0.445899  2.831891  2.668358  3.735385
6           CHE -0.120411  0.587037  2.445366  2.479772  3.906686
7           CHL  0.000373  0.707821  2.940450  2.854037  4.113337
8           CHN -0.142213  0.565235  2.880548  2.397880  4.275376
9           COL -0.580965  0.126483  2.699614  2.553095  3.891525
10          DEU -0.313260  0.394188  2.523182  2.543334  3.706138
11          DNK -0.187387  0.520061  2.439716  2.300860  3.856871
12          ESP  0.015925  0.723373  2.454660  2.629837  4.102003
13          FIN -0.391160  0.316288  2.461569  2.692233  3.743326
14          FRA -0.426157  0.281291  2.603759  2.498729  3.957865
15          GRC -0.373245  0.334203  2.600945  2.694122  3.921017
16          HUN -0.106224  0.601224  2.669528  2.630321  4.113457
17          IDN -0.546654  0.160794  2.616095  2.389754  4.044128
18          IRL -0.177577  0.529871  2.487404  2.318580  4.090748
19          ISR -0.505694  0.201754  2.773107  2.471296  3.990000
20          ITA -0.312917  0.394531  2.529856  2.728742  4.002718
21          JPN -0.207450  0.499998  2.738079  2.625407  3.903271
22          LVA -0.175930  0.531518  2.679542  2.617419  4.251318
23          MEX -0.254500  0.452948  2.769207  2.591890  3.886046
24          NLD -0.358727  0.348721  2.408801  2.476494  3.769929
25          NOR -0.557715  0.149733  2.416802  2.346868  4.056177
26          PHL  0.099318  0.806766  2.952801  2.557800  4.041380
27          POL -0.674046  0.033402  2.860640  3.208815  3.749763
28          PRT -0.112103  0.595345  2.775129  2.463307  4.068238
29          ROU -0.292346  0.415102  2.908542  2.845198  4.065993
30          SGP -0.330216  0.377232  2.850770  2.351852  3.983132
31          SWE -0.330082  0.377366  2.486063  2.620771  3.750023
32          TUR -0.422646  0.284802  3.000141  2.690571  3.802223
33          URY -0.927922 -0.220474  3.666667  3.666667  4.012349
34          USA -0.307675  0.399773  2.448333  2.455556  3.837038

Because in this research I'm not interest in the correlations between X,W,XW and because w (compliance) is a continous variable i need to use mena-centering technique to properly code my moderator (W).
mean_centering=Xi - Mean_X

So i need to calculate the mean of variable W (com)
Then i need to subtract for each row value the mean of W (com), that is my w_final 
Multiply x*W_final to get my correct and desiered value

In [119]:
com_mean=df2_final["com"].mean()
com_mean

3.9659956825698326

In [122]:
df2_final["com_final"]=df2_final["com"]-com_mean
df2_final

   country_code         y   y_final    stress       lon       com  com_final
0           ARG  0.707448  0.707448  2.807575  2.692887  4.148194   0.182198
1           AUS -0.138689  0.568759  2.559427  2.698211  3.968259   0.002264
2           AUT -0.265379  0.442069  2.798421  2.790133  4.255362   0.289366
3           BEL -0.316617  0.390831  2.599818  2.471123  3.988431   0.022435
4           BGR -0.246857  0.460591  2.853650  2.539404  3.822144  -0.143851
5           BRA -0.261549  0.445899  2.831891  2.668358  3.735385  -0.230611
6           CHE -0.120411  0.587037  2.445366  2.479772  3.906686  -0.059310
7           CHL  0.000373  0.707821  2.940450  2.854037  4.113337   0.147341
8           CHN -0.142213  0.565235  2.880548  2.397880  4.275376   0.309380
9           COL -0.580965  0.126483  2.699614  2.553095  3.891525  -0.074470
10          DEU -0.313260  0.394188  2.523182  2.543334  3.706138  -0.259858
11          DNK -0.187387  0.520061  2.439716  2.300860  3.856871  -0.109125
12          ESP  0.015925  0.723373  2.454660  2.629837  4.102003   0.136007
13          FIN -0.391160  0.316288  2.461569  2.692233  3.743326  -0.222670
14          FRA -0.426157  0.281291  2.603759  2.498729  3.957865  -0.008131
15          GRC -0.373245  0.334203  2.600945  2.694122  3.921017  -0.044978
16          HUN -0.106224  0.601224  2.669528  2.630321  4.113457   0.147461
17          IDN -0.546654  0.160794  2.616095  2.389754  4.044128   0.078133
18          IRL -0.177577  0.529871  2.487404  2.318580  4.090748   0.124752
19          ISR -0.505694  0.201754  2.773107  2.471296  3.990000   0.024004
20          ITA -0.312917  0.394531  2.529856  2.728742  4.002718   0.036723
21          JPN -0.207450  0.499998  2.738079  2.625407  3.903271  -0.062724
22          LVA -0.175930  0.531518  2.679542  2.617419  4.251318   0.285322
23          MEX -0.254500  0.452948  2.769207  2.591890  3.886046  -0.079950
24          NLD -0.358727  0.348721  2.408801  2.476494  3.769929  -0.196067
25          NOR -0.557715  0.149733  2.416802  2.346868  4.056177   0.090181
26          PHL  0.099318  0.806766  2.952801  2.557800  4.041380   0.075384
27          POL -0.674046  0.033402  2.860640  3.208815  3.749763  -0.216233
28          PRT -0.112103  0.595345  2.775129  2.463307  4.068238   0.102242
29          ROU -0.292346  0.415102  2.908542  2.845198  4.065993   0.099997
30          SGP -0.330216  0.377232  2.850770  2.351852  3.983132   0.017136
31          SWE -0.330082  0.377366  2.486063  2.620771  3.750023  -0.215973
32          TUR -0.422646  0.284802  3.000141  2.690571  3.802223  -0.163773
33          URY -0.927922 -0.220474  3.666667  3.666667  4.012349   0.046353
34          USA -0.307675  0.399773  2.448333  2.455556  3.837038  -0.128958

In [123]:
#rename variables to facilitate the R equations already built anddrop variable y since we only care about y_final
df_regression=df2_final.drop(columns=["y", "com"])
df_regression.head()

  country_code   y_final    stress       lon  com_final
0          ARG  0.707448  2.807575  2.692887   0.182198
1          AUS  0.568759  2.559427  2.698211   0.002264
2          AUT  0.442069  2.798421  2.790133   0.289366
3          BEL  0.390831  2.599818  2.471123   0.022435
4          BGR  0.460591  2.853650  2.539404  -0.143851

In [124]:
df_regression.rename(columns= {"y_final":"y", "stress": "m1","lon":"x","com_final":"w"},inplace=True)
df_regression.head()

  country_code         y        m1         x         w
0          ARG  0.707448  2.807575  2.692887  0.182198
1          AUS  0.568759  2.559427  2.698211  0.002264
2          AUT  0.442069  2.798421  2.790133  0.289366
3          BEL  0.390831  2.599818  2.471123  0.022435
4          BGR  0.460591  2.853650  2.539404 -0.143851

In [125]:
#because i will want a first stage moderation i need to create a new variable xw which is the multiplication of x and w
df_regression["xw"]=df_regression["x"]*df_regression["w"]
df_regression.head()

  country_code         y        m1         x         w        xw
0          ARG  0.707448  2.807575  2.692887  0.182198  0.490639
1          AUS  0.568759  2.559427  2.698211  0.002264  0.006108
2          AUT  0.442069  2.798421  2.790133  0.289366  0.807371
3          BEL  0.390831  2.599818  2.471123  0.022435  0.055440
4          BGR  0.460591  2.853650  2.539404 -0.143851 -0.365296

Is exactly with df2_final that i'm going to conduct my regressions outlined in the conceptual framework of the present research.
Because i make the statistical analysis in r, i export df2_final to a csv file in order to work out the statisticalinferences in R-Studio.
The R-Studio folder which contains the modeling equations which we willuse df2_final as input is called "1ANA_Plots.Rmd"

In [126]:
df_regression.to_csv(r'C:\Users\joana\Desktop\Master\second master\thesis\second thesis\data\to use\regression_part2.csv', index=False)